@model e_commercedotNet.Models.Product

@{
    ViewData["Title"] = "Modifier le produit";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<form asp-action="Edit" asp-route-id="@Model.ProductId" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" type="number" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StockQuantity" class="form-label"></label>
        <input asp-for="StockQuantity" type="number" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="form-label"></label>
        <select asp-for="Category" class="form-control">
            <option value="Homme" selected="@((Model.Category == "Homme").ToString())">Homme</option>
            <option value="Femme" selected="@((Model.Category == "Femme").ToString())">Femme</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <label>Image</label>
    <input type="file" name="imageFile" />
    <img src="@Model.ImageUrl" alt="Current Image" style="max-width: 150px;" />
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-action="ListProduct" class="btn btn-secondary">Annuler</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}